/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/users.sql
/task.todo
/settings_sycn_gist_id.text
/.vscode/launch.json
/.vscode/settings.json
/.vscode/c_cpp_properties.json
