.dashboard {
    grid-template-columns: 300px 1fr;
    height: 100vh;

    .sidebar {
        grid-template-rows: 150px 1fr;

        .profile {
            background-position-x: center;
            background-position-y: center;
        }
    }
}

.points {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
