.dashboard {
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.dashboard .sidebar {
  grid-template-rows: 150px 1fr;
}

.dashboard .sidebar .profile {
  background-position-x: center;
  background-position-y: center;
}
